	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/10/2019 04:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin:auto;
}

.flaticon-camera:before { content: "\f100"; }
.flaticon-cctv:before { content: "\f101"; }
.flaticon-electronics:before { content: "\f102"; }
.flaticon-photograph:before { content: "\f103"; }
.flaticon-stabilizer:before { content: "\f104"; }
.flaticon-cctv-1:before { content: "\f105"; }
.flaticon-cctv-2:before { content: "\f106"; }
.flaticon-cctv-3:before { content: "\f107"; }
.flaticon-cctv-4:before { content: "\f108"; }
.flaticon-usb:before { content: "\f109"; }
.flaticon-sd-card:before { content: "\f10a"; }
.flaticon-sd:before { content: "\f10b"; }
.flaticon-cloud-computing:before { content: "\f10c"; }
.flaticon-plug:before { content: "\f10d"; }
.flaticon-phone-with-wire:before { content: "\f10e"; }
.flaticon-tech:before { content: "\f10f"; }
.flaticon-wire:before { content: "\f110"; }
.flaticon-micro-usb:before { content: "\f111"; }
.flaticon-hdmi:before { content: "\f112"; }