header {
    height: auto;
    background: #fbd900;
    color: #fff;
    margin-bottom: 5px;
    width: 100%;
}
.bg-black {
    background: #000!important;
}
.logo-img {
    max-width: 200px;
    height: auto;
    padding-top: 14px;
}



/* Menu */


#custom-search-input {
    margin: 0;
    padding-left: 0;
    margin-top: 10px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    position: relative;
    left: -35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    margin-bottom: 7px;
    background: transparent;
}

.search-query:focus + button {
    z-index: 3;   
}



.h2title h2 {
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    text-transform: uppercase;
    font-weight: 600;
}
.viewallcat div {
    float: right;
    overflow: hidden;
}
.viewallcat {
    text-align: right;
    height: 46px;
}
.viewallcat a {
    display: inline-block;

    color: #288ad6;
    padding:  0 10px;
    line-height: 46px;;
}

body {
    background: #f4f4f4;
}
.qtang {
    padding-bottom: 10px;
    margin-top: -8px;
    font-size: 11px;
    line-height: 15px;
}
.qtang p {
    margin: 0 !important;
}
.qtang img {
    width: 100%;
    max-width: 30px;
    max-height: 30px;
    float: left;
    padding-right: 10px;
    height: 32px;
    display: -webkit-box;
max-width: 100%;
height: 51px;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.info-san-pham {
    position: absolute;
    top: 3px;
}
.info-san-pham li {
    list-style: none;
    border: 1px solid #dc3545;
    padding: 1px;
    margin: 3px 0;
    border-radius: 2px;
    text-align: center;
    background: #dc3545;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 2px;
}
.item_product {color:#333; margin-top: 5px;}
a:hover{
    text-decoration: none!important;
}
.img-thumb-item{  max-width: 250px;
    max-height: 275px;overflow: hidden;
    padding-top: 25px;
    margin-bottom: -18px;
}
.img-thumb-item img{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;    margin: auto;

    position: relative;      -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.qtang img {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 5px;
    padding: 5px;
}
.img-thumb-item :hover {
 
  

       -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;}
.item_product h3 {
    font-size: 14px;
    padding-top: 15px;
    height: 51px;
    display: -webkit-box;
max-width: 100%;
height: 48px;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.price_home {
    color: #d00;
    font-weight: bold;    font-size: 16px;
    margin-bottom: 10px;
}
.price_home span {
    color: #333;
    font-weight: normal;     font-size: 13px;
}

.all_show_menu a {
    color: #000;
    text-transform: uppercase;
    text-align: center!important;
}
.show_menu {
    width: 100%;text-align: center!important;
    padding: 0 6px;
}
button#btn-menu {
    background: none;    padding: 5px;
    border: none;
}
.item_menu_mobile_show {
    width: 50%;
    height: 70px;
    padding: 0;
    text-align: center!important;
    margin: 0;
    border: 1px solid #555;
    margin: 2px auto;
    display: inline-block;
    font-size: 14px;
    line-height: 2em;
    color: #000!important;
    border-radius: 5px;
    padding: 10px;
}
.item_menu_mobile_show span {
    line-height: 1em;
    margin: auto;
}
.all_show_menu {
    display: none;    margin: auto;
}

.owl-prev {
    position: absolute;
    left: 0px;
    top: calc(50% - 20px);
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    z-index: 1000;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.15);
    color: #999;
}

.owl-next {
    position: absolute;
    right: 0px;
    top: calc(50% - 20px);
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    z-index: 1000;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.15);
    color: #999;
}

.pd {
    padding-left: 0;
    padding-right: 0;
}

.article {
    border-right: 1px solid #eee;
}

#footer-mb {
    display: none;
}

@media only screen and (max-width: 766px) {
    #footer-mb {
        display: block;
    }
    #toggle-footer {
        display: none;
    }
    
    .article {
        border-right: none;
    }

    .right-product-box {
        padding-left: 0;
        padding-right: 0;
    }
}

.thongso_sp  {
    margin-left: 10px;
        margin-right: 10px;
}

@media only screen and (max-width: 800px) {
    .thongso_sp {
        margin-left: -10px;
        margin-right: -10px;
    }
    .pd {
        padding-left: 10px; 
        padding-right: 10px;
    }
    .column-5 {
        width: 50% !important;
        border-right: 1px solid #eee !important;
    }

    #group-footer {
        margin-left: -5px;
        margin-right: -5px;
    }
}

.hide-mb {
    display: block;
}

@media only screen and (max-width: 1020px) {
    .hide-mb {
        display: none;
    }

    .row {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    .heading-order {
        font-size: 15px !important;
    }

    #search-mobile {
        display: block;
    }

    .show_menu {
    width: 100%;
    overflow-x: scroll;
            width: 100%;
    overflow-x: scroll;
    position: absolute;
    background: #fff;
    display: block;
    z-index: 999;
        border-bottom: 1px solid #ccc;

    }
    .item_menu_mobile_show{ 
        margin: 4px;
        width: calc(50% - 8px);
        height: 50px;
        font-size: 14px;
        text-align: center!important;
        border: 1px solid #6767673d;
        line-height: 2em;
        color: #000!important;
        border-radius: 5px;
        padding: 10px;
        margin: 5px auto 0;
        text-transform: none !important;

    }
}

nav{
    width:100%;

    margin:0;
    padding:0;
    font-weight: 600;
}
nav i {
    display: block;
}
nav a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    color: #000;
    padding: 5px 10px;
    text-align: center;
}
nav a:hover {
    background: #efefef;color: #000;
}


.breadcrumb {
    background-color: #fff !important;
    margin-bottom: 0;
}

.breadcrumb li a {
    text-transform: none ;
    color: #288ad6 !important;
    display: inline !important;
    padding: 0;
    font-size: 100% !important;
    font-weight: normal !important;

}

label.discount {
    position: absolute;
    text-align: center;
 
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%) !important;
    border-radius: 10px;
    padding: 0;
    padding-right: 7px;
    display: inline-block;
    color: #fff; 
    font-weight: bold;
    font-size: 12px;
    height: 18px;
}

label.discount i {
    width: 18px; height: 18px;
    display: inline-block;
    background-color: #f13500;
    border-radius: 50%;
    line-height: 19px;
}

.breadcrumb li a:hover {
    background-color: #ffffff !important;
}
 
#title-product {
    font-size: 26px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.item_menu_mobile_show {

    background-color: #ffffff;
background-image: linear-gradient(#ffffff,#e4e2e2);
}

.logo-mobile {
width: 15%;
padding: 5px;
}
img.img-fluid.iconmenimobile {
    padding: 4px;
}
.search-mobile {
padding-top: 5px;
width: 70%;
}
input.m_search-query.form-control {
padding: 10px;
height:40px;
}
.icon-menu-mobile {
width: 15%;
}

.show-more-button {
    display: none !important;
}

@media only screen and (max-width: 980px) {
    .viewallcat a {
        display: none;
    }
    .show-more, .show-more-button {
        display: inline-block !important;
    }
    header {
display:none;
}
}
.menu-mobile {
background: #000;  

}
.menu-mobile {
    width: 100%;
}
.logo-mobile {

}
.search-mobile {
padding: 5px;
}

.icon-menu-mobile {


text-align: right;
}

@media only screen and (max-width: 450px) {
    .price_home del {
        display: none;
    }
}

.qtang span {
    color: #428bca;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .fade:not(.show) {
    opacity: 1;
}
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  footer li {
    padding: 5px 0;
}
		a.dfdf {
    color: #d00;
    font-weight: 700;
    font-size: 20px;
}


	.boxArticle img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
	.policy {
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}
	.policy li {     list-style: none;
  
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    background: url(https://i.imgur.com/imy7D6v.png) no-repeat 3px 5px;
    background-size: 22px;
    padding-left: 30px;}
	li.inpr {
		   background: url(https://www.thegioididong.com/Content/desktop/images/V4/game/trong-hop-co@2x.png) no-repeat 5px;
    background-size: 18px 20px;
}
	li.wrpr {
    background: url(https://www.thegioididong.com/Content/desktop/images/V4/game/bao-hanh-chinh-hang@2x.png) no-repeat 5px;
    background-size: 18px 20px;
}
	li.chpr {
    background: url(https://www.thegioididong.com/Content/desktop/images/V4/game/1-doi-1@2x.png) no-repeat 5px;
    background-size: 18px 20px;
}
.hethongcuahang li {
    list-style: none;
  
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    background: url(https://i.imgur.com/imy7D6v.png) no-repeat 5px 6px;
    background-size: 25px;
    padding-left: 35px;
}
	
	.hethongcuahang {
    background: #fff;border: 1px solid #98c4f9;
    padding: 10px;
    border-radius: 4px;
}
	.hethongcuahang h6 {
 
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: solid 1px#ccc;
    padding: 10px 0;
		color:#555;
}
	.hethongcuahang strong {
    display: block;
    text-transform: uppercase;
}
	

	
	.hotline-buy {
    display: block;
    width: 100%;
    padding: 10px 10px!important;
    background-color: #f7f8f9;
    border-radius: 5px;
		font-size:90%;
}
	.hotline-buy .fa{    background-color: #288ad6;
    padding: 5px;
    border-radius: 50%;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    position: relative;
		top: -2px;}
	span.pr_big {
    font-size: 24px;
    font-weight: 600;
    color: #e10c00;
    padding-right: 15px;
}
	span.old_price {
    font-size: 20px;
    padding-right: 15px;
}
	.ver_sp {
    display: flex; margin: auto;
}
	.ver_sp li {
    list-style: none;
    width: 50%;
    border: 1px solid #ccc;
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff,#e4e2e2);
    border-radius: 5px;
    margin: auto;
    text-align: center;
    line-height: 1em;
		margin-right:5px;
		    padding: 10px 15px;
}
	.ver_sp li.active {
    border: 1px solid orange;
}
	span.prices_ver {
    display: block;
    font-size: 18px;
    color: #e10c00;
    font-weight: 600;
}
	.promo {
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.promo li {
    list-style: none;
    padding: 5px 0 5px 0;
    background: url(https://www.thegioididong.com/Content/desktop/images/V4/game/check@2x.png) no-repeat 5px 2px;
    background-size: 12px 12px;
	padding:0px;
    padding-left:25px;
    margin-bottom: 8px;
}
	.yeucau_sp {
    font-weight: 500;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
}
	.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
    border-color: #00861e;
    background-color: #28a745;
}
	
    .area_order{display:block;overflow:hidden;    margin: 10px 0;}.area_order .buy_now{display:block;overflow:hidden;padding:7px 0;border-radius:4px;font-size:16px;line-height:normal;text-transform:uppercase;color:#fff;text-align:center;background:#fd6e1d;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));background:-webkit-linear-gradient(top,#f59000,#fd6e1d);background:-moz-linear-gradient(top,#f59000,#fd6e1d);background:-ms-linear-gradient(top,#f59000,#fd6e1d);background:-o-linear-gradient(top,#f59000,#fd6e1d)}.area_order span{display:block;font-size:13px;color:#fff;text-transform:none;padding-top:3px}.area_order .buy_ins{line-height:normal;display:block;padding:9px 0;text-align:center;margin:10px 0 0;background:#288ad6;color:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-size:16px;text-transform:uppercase}.area_order .buy_repay{line-height:normal;display:block;padding:7px 0;text-align:center;margin:10px 0 0;background:#288ad6;color:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-size:15px;text-transform:uppercase;width:48.5%;float:left}.area_order .buy_repay.full{width:100%}.area_order .buy_repay.s{float:right}.area_order .promoStore{border:1px solid #ddd;padding:10px;background-color:#faebd7;margin-bottom:10px}.area_order .promoStore h3{font-size:16px;text-transform:uppercase;color:#333;font-weight:600}.area_order .promoStore p{font-size:14px;line-height:22px}.area_order .promoStore strong{color:#e10c00;font-size:16px}.area_order .promoStore .xemtl{color:#288ad6}.area_order .promoStore .xemtl:after{content:'';width:0;height:0;border-top:5px solid #288ad6;border-left:5px solid transparent;border-right:5px solid transparent;display:inline-block;vertical-align:middle;margin-left:5px}.area_order .promoStore .box-Xemtl li{display:block;overflow:hidden;padding:10px 10px 0 22px;font-size:14px;color:#333}.area_order .promoStore .box-Xemtl{display:none}.area_order .promoStore .box-Xemtl li::before{content:"•";color:#b7b7b7;display:inline-block;vertical-align:middle;font-size:15px;margin-right:6px;margin-left:-12px}.area_order .promoStore .buy_promo{margin:8px 0;display:block;overflow:hidden;padding:16px 0;border-radius:4px;font-size:16px;line-height:normal;text-transform:uppercase;color:#fff;text-align:center;background-image:linear-gradient(-180deg,#e52025 2%,#d81116 96%)}.detailpay{padding:0 0 10px 0;border-bottom:1px solid #eee;margin:10px}

#order-form h1 {
    font-size: 20px;
}

#order-form .price {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

#mucgia a {
    margin-right: 20px;
}

.box-ads-sidebar img {
    width: 100%;
}


.owl-item {
    padding: 0 20px;
    background-color: transparent !important;
}
.carousel-control-next, .carousel-control-prev {

    width: 2%!important;}
    .carousel-indicators li {
 
        width: 5px;
        height: 5px;
    }
    h1.h1_title {
        font-size: 18px;
    }

    .thongso_sp {

   
        list-style: none;
   
    }
    .thongso_sp li {
        padding: 5px 0;
        border-bottom: 1px solid #eee;
    }

    .thumbnail img {
        max-width: 100%;
    }

    .promo ul {
        list-style: none;
        padding: 0;
    }
    body{    font: 14px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif !important;}

    .column-5 {
        float: left;
        width: calc(20%);
        position: relative;
        padding: 0 10px;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .custom-control-label::before {
        top: 0px !important;
    }
    
    .custom-control-label::after {
        top: 0px !important;
    }